<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bigyo</title>
</head>
<body>
    <div>Hello world! ez a kedvenc számom : {{ a }}</div>

    <div>
        ez pedig az összes kérdés:
        <ul>
            
            {% for kerdes in kerdesek %}
                <li>{{kerdes.kerdes}} ({{kerdes.rossz1}})</li>
            {% endfor %}
                
        </ul>
    </div>
</body>
</html>